@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: "Aeonik";   /*Can be any text*/
    src: local("AeonikProTRIAL-Regular"),
    url("./font/AeonikProTRIAL-Regular.otf") format("truetype");
}

*{
  font-family: "Noto Sans", sans-serif !important;
}

#province {
  background-color: #fff !important;
}


.layout-bg {
  background-image: url('/public/Home\ \(1\).svg');
  background-size: cover;
  background-repeat: no-repeat;

}

.react-international-phone-input-container .react-international-phone-country-selector-button {
    padding-left: 7px;
    padding-right: 5px;
}

.react-international-phone-input {
    height: 44px !important;
    width: 100%;
    border: 1px solid #D1D5DB;
    /*background-color: white;*/
    /*color: #374151; */
    /*box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);*/
}

.disabled-row {
  opacity: 0.4;
  cursor: not-allowed;
}


::-webkit-scrollbar {
  width: 1px;
}



.react-datepicker__calendar-icon {
    top: 3px;
}

.react-datepicker__input-container input {
   width: 100% !important;
}


.react-international-phone-country-selector, .react-international-phone-country-selector-button {
    height: 44px !important;

}

.profile-card-bg {
    background-image: url('/public/9.jpg');
}

:where(.css-dev-only-do-not-override-j9bb5n).ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
    background-color: #00AA81 !important;
}

.ant-radio-button-checked {
    display: none !important;
}

.ant-radio-button-wrapper-checked {
    color: #fff !important;
}

.ant-btn-primary, .ant-radio-button-checked, .ant-radio-button-wrapper-checked{
    background-color: #00AA81 !important;
    border-color: #00AA81 !important;
}

.ant-btn-primary:hover {
    background-color: #008567 !important;
}

.ant-btn-primary:disabled{
    background-color: rgb(241 243 245) !important;
    border-color: rgb(241 243 245) !important;
}


.peer:checked {
  border-color: #00AA81 !important;
}


#doctors > div {
  width: 272px !important;
}

#province > div {
  width: 272px !important;
}
#district > div {
  background-color: #fff !important;
  width: 272px !important;
}

.fc-today-button, .fc-prev-button, .fc-next-button {
background-color: #00AA81 !important;
border-color: transparent !important;
padding: 1em 2em !important;
border-radius: 0px !important;
}

.fc-direction-ltr .fc-button-group > .fc-button:not(:first-child) {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    margin-left: 0px !important;
}

#fc-dom-256 {
  text-transform: capitalize !important;
}

.fc-today-button:focus, .fc-prev-button:focus, .fc-next-button:focus {
    background-color: #008567 !important;
    box-shadow: none !important;
}

.rdp [aria-hidden="true"]{
  @apply hidden;
}

.rdp-vhidden{
  @apply hidden;
}

.fc .fc-daygrid-day.fc-day-today {
    background-color: #EAF3FB !important;
}

.fc-daygrid-dot-event {
  color: #fff !important;
}


.fc-h-event {
    background-color: transparent;
    border: none;
    display: block;
}



 .fc-event-main1, .fc-event12 {
    /*border-left: 4px solid #2A9D8F;*/
    /*background-color: #CFE9E7 !important;*/
    /*color: #1E1D1D !important;*/



    /*border-left: 3px solid #F43F5E;*/
    /*background-color: #FFE4E6 !important;*/
    /*color: #BE123C !important;*/


     border-radius: 7px;
   border-left: 4px solid #00AA81;
    background-color: #EEF9F7 !important;
    color: #00AA81 !important;

    /*border-left: 3px solid rgb(42 99 246);*/
    /*background-color: rgb(241 243 245) !important;*/
    /*color: rgb(42 99 246) !important;*/
    padding: 5px !important;
    padding-left: 10px !important;
    margin: 10px !important;
}

.login-bg {
  background-image: url('/public/9.jpg');
  background-size: cover;
}

/* styles.css or a similar CSS file */

.tag-free {
    background-color: #e3fcef; /* Light green background */
    color: #2e8b57; /* Dark green text */
    border-radius: 12px; /* Rounded corners */
    font-weight: 500; /* Slightly bold text */
    padding: 4px 8px; /* Padding around text */
    display: flex;
    align-items: center;
}

.ant-cascader-menu-item {
    font-weight: normal;
    transition: none !important; /* Убираем анимации, которые могут вызывать мерцание */
}

.ant-cascader-menu-item-active {
    font-weight: bold; /* Включаем жирный шрифт только при активации элемента */
    transition: none !important; /* Убираем анимации */
}

.tag-busy {
    background-color: #fef0f0; /* Light red background */
    color: #d9534f; /* Dark red text */
    border-radius: 12px; /* Rounded corners */
    font-weight: 500; /* Slightly bold text */
    padding: 4px 8px; /* Padding around text */
    display: flex;
    align-items: center;
}

.tag-icon {
    margin-right: 4px; /* Space between icon and text */
}


.fc-timeGridWeek-button, .fc-dayGridMonth-button, .fc-timeGridDay-button    {
background-color: #00AA81 !important;
text-transform: capitalize !important;
font-size: 15px !important;
    font-weight: 500 !important;
border-color: transparent !important;
padding: 1em 2em !important;
border-radius: 0px !important;
}
.fc-timeGridWeek-button:focus, .fc-dayGridMonth-button:focus, .fc-timeGridDay-button:focus {
box-shadow: none !important;
}

.fc-button-active   {
    background-color: #008567 !important;
box-shadow: none !important;
}





.fc-button-group {
    background-color: transparent !important;
    box-shadow: none !important;
    outline: none !important;
    background-color: none !important;
    border-color: transparent !important;
}

.fc-toolbar-chunk {
    background-color: none !important;
    border-color: none;
}

/* #\:rc\: {
    z-index: 99999 !important;
} */

.stdropdown-container {
  text-align: left;
  border: 1px solid #ccc;
  position: relative;
  border-radius: 5px;
}

.stdropdown-menu::-webkit-scrollbar {
  width: 2px;
}

.stdropdown-menu::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.stdropdown-menu::-webkit-scrollbar-thumb {
  background: #888;
}

.stdropdown-menu::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.stdropdown-input {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}

.stdropdown-menu {
  position: absolute;
  transform: translateY(4px);
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: auto;
  max-height: 150px;
  background-color: #fff;
}

.stdropdown-item {
  padding: 5px;
  cursor: pointer;
}

.stdropdown-item:hover {
  background-color: rgba(159, 195, 248, 0.4392156863);
}

.stdropdown-item.selected {
  background-color: #0d6efd;
  color: #fff;
}

.stdropdown-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.stdropdown-tag-item {
  background-color: #ddd;
  padding: 2px 4px;
  border-radius: 2px;
  display: flex;
  align-items: center;
}

.stdropdown-tag-close {
  display: flex;
  align-items: center;
}

.stsearch-box {
  padding: 5px;
  background-color: transparent;
}

.stsearch-box input {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
}

.tabs-part::-webkit-scrollbar {
    width: 1px !important;
}

.ps-sidebar-container {
    /*00AA81*/
    background-color: #fff !important;
    font-weight: 500;
    z-index: 999;
}

.sidebar-icon {
    /*color: rgb(42 99 246);*/
    color: #00AA81;
}

.sidebar-icon-bg {
    background-color: rgb(241 243 245);

}

.css-1t8x7v1 >.ps-menu-button:hover {
    background-color: #fff !important;
}

.ps-sidebar-container::-webkit-scrollbar {
    width: 0px !important;
}

.ps-menu-button {
    z-index: 10 !important;
}


#invoice-POS {
    box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
    padding: 2mm;
    margin: 0 auto;
    width: 84mm;
    background: #fff;
}

.info-logo::before {
    content: "";
    display: block;
    width: 30%;
    height: 2px;
    border-bottom: 1px dashed #000;
    right: 0;
    top: 63%;
    position: absolute;
}

.info-logo::after {
    content: "";
    display: block;
    width: 30%;
    height: 2px;
    border-bottom: 1px dashed #000;
    left: 0;
    top: 63%;
    position: absolute;
}


#invoice-POS ::selection {
    background: #000;
    color: #fff;
}
#invoice-POS ::moz-selection {
    background: #000;
    color: #fff;
}
#invoice-POS h1 {
    font-size: 1.5em;
    color: #222;
}
#invoice-POS h2 {
    font-size: 0.9em;
}
#invoice-POS h3 {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 2em;
}
#invoice-POS p {
    font-size: 0.7em;
    color: #666;
    line-height: 1.2em;
}
#invoice-POS #top, #invoice-POS #mid, #invoice-POS #bot {
    /* Targets all id with 'col-' */
    border-bottom: 1px solid #eee;
}
#invoice-POS #top {
    position: relative;
    min-height: 70px;
}
#invoice-POS #mid {
    min-height: 80px;
}
#invoice-POS #bot {
    min-height: 50px;
}
#invoice-POS #top .logo {
    height: 60px;
    width: 60px;
    background: url(http://michaeltruong.ca/images/logo1.png) no-repeat;
    background-size: 60px 60px;
}
#invoice-POS .clientlogo {
    float: left;
    height: 60px;
    width: 60px;
    background: url(http://michaeltruong.ca/images/client.jpg) no-repeat;
    background-size: 60px 60px;
    border-radius: 50px;
}
#invoice-POS .info {
    display: block;
    margin-left: 0;
}
#invoice-POS .title {
    float: right;
}
#invoice-POS .title p {
    text-align: right;
}
#invoice-POS table {
    width: 100%;
    border-collapse: collapse;
}
#invoice-POS .tabletitle {
    font-size: 0.8em;
    background: #eee;
}
#invoice-POS .service {
    border-bottom: 1px solid #eee;
}
#invoice-POS .item {
    width: 24mm;
}
#invoice-POS .itemtext {
    font-size: 0.8em;

}
#invoice-POS #legalcopy {
    margin-top: 5mm;
}



/* Печать только элемента с классом .print-area */
@media print {
    /* Скрываем все элементы, кроме .print-area */
    body * {
        visibility: hidden;
    }

    /* Делаем .print-area и её содержимое видимыми */
    .print-area, .print-area * {
        visibility: visible;
    }

    /* Размещаем .print-area на всю страницу */
    .print-area {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }

    /* Скрываем кнопку печати */
    .print-button {
        display: none;
    }
}


/* Плавная анимация для всего сайдбара */
.sidebar {
    transition: width 0.5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.sidebar.collapsed {
    width: 80px; /* Примерная ширина для свернутого состояния */
}

.sidebar:not(.collapsed) {
    width: 350px; /* Примерная ширина для развернутого состояния */
}

/* Плавная анимация для меню */
.ant-menu {
    transition: width 0.5s ease, opacity 0.5s ease;
}

.ant-menu-submenu-title, .ant-menu-item {
    display: flex;
    align-items: center;
    justify-items: center;
    padding-inline: 16px !important;
}

.ant-menu-inline-collapsed {
    width: 80px !important;
}

.ant-menu-item,
.ant-menu-submenu-title {
    transition: padding 0.3s ease;
    font-size: 15px;
    font-weight: 500;

}

/* Плавная анимация для иконок и текста */
.ant-menu-item-icon,
.ant-menu-item span,
.ant-menu-submenu-title span {
    transition: opacity 0.3s ease;
}



.toggle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: transform 0.3s ease;
}

.toggle-button:hover {
    transform: scale(1.1);
}

/* Убедитесь, что элементы внутри остаются выровненными */
.ant-menu-item {
    display: flex;
    align-items: center;
}

.sidebar.collapsed .ant-menu-item {
    justify-content: center;
}
